.menu, #game{
    visibility: hidden;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    border: 0.7em solid black;
}
#criaperso{
    /* height: 100%;
    width: 100%; */
    display: flex;
    flex-flow: column nowrap;
    gap: 2em;
}
form{
    margin: 0 0 0 2em;
    height: 3em;
    display: flex;
    align-items: center;
}
#atributos{
    height: 50%;
    border: 0.3em solid black;
    display: flex;
    gap: 1em;
    flex-flow: column nowrap;
}
.atributo{
    border: 0.3em solid black;
    width: 2em;
    height: 2em;
    margin: 0 0 0 0.5em;
}
#atributos h1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.atributo:first-of-type{
    margin: 0.5em 0 0 0.5em;
}
.atributo:last-of-type{
    margin: 0 0 0.5em 0.5em;
}